*{
    margin: 0px;
    padding: 0px;
}
/* Navigation */
.navigation{
    font-family:cursive;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
}
#logo{
    margin:0rem 1rem;
/*     border:2px solid black; */
    height:1.4rem;
    width:1.9rem;
}
#navoptions{
    position:absolute;
    display:flex;
/*     border:2px solid black; */
}
#navoptions li{
    margin:0rem 50px;
    /* border:2px solid black; */
    list-style:none;
}
#search{
    display:flex;
    align-items:center;
}
#search img{
    /* border:2px solid black; */
    height:25px;
    margin:0px 25px;
}
/* Section1 */
.slogan{
    font-size:2.9rem;
    font-weight:900;
/*     padding:15px; */
    /* border:2px solid black; */
    position:absolute;
    top:250px;
    left:15px;
}
#sloganbottom{
    font-size:1.0rem;
    position:relative;
    top:10px;
    color:grey;
}
#pricestop{
    padding:10px 45px;
    border:2px;
    position:absolute;
    background-color:orange;
    left:15px;
    top:420px;
}
#pricesbottom{
     padding:10px 47px;
    border:2px;
    position:absolute;
    background-color:orange;
    left:15px;
    top:470px;
}
#backgroundimg{
    width: 90%;
    height: 95.5vh;
    left: 153.1px;
    position: absolute;
    background-size:cover;
    background-repeat: no-repeat;
}